---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div id="container">
    <main>
      <section id="hero">
        <h1>this is where you sign up!</h1>
      </section>
    </main>
  </div>
</Layout>
